<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>



                <div class="general-container">
                    <div class="panel">

                        <div class="admin-form">
                            <h2>Panel de Administrador</h2>
                            <a href="/user/register">
                                <button  class="btn inf">Nuevo Usuario +</button>
                            </a>
                            <a href="/admin/users">
                                <button  class="btn inf">Listar Usuarios</button>
                            </a>
                            <a href="/admin/">
                                <button  class="btn inf">Listar Productos</button>
                            </a>
                            <br>
                            <form action="/admin/search" method="GET">
                                
                                <input type="text" name="search" placeholder="Buscar usuario">
                                <input type="button" value="Buscar">
                            </form>
                            <br>
                            
                        </div>
                        </div>
                    </div>
                    
                </aside>
                <div>
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>email</th>
                            <th>avatar</th>
                            <th>status</th>
                            <th>Admin</th>
                            <th>Editar/eliminar</th>

                        </tr>

                        <% usuarios.forEach(usuario=> {%>
                            <td>
                                <p>

                                    <%= usuario.id %>
                                </p>
                            </td>
                            <td>
                                <%= usuario.name %>
                            </td>
                            <td>
                                <%= usuario.email %>
                               
                            </td>
                            <td>
                                <div class="avatar-listado">

                                    <img src="<%= usuario.avatar %>" alt="avatar-usuario">
                                </div>
                            </td>
                            <td>
                                <% if(usuario.status == 0){ %>
                                    <%= 'Inactivo' %>
                                <% }else{ %>
                                    <%= 'Activo' %>
                                <% } %>
                            </td>
                            <td>
                             <% if ( usuario.privilege == 1) { %>
                              <h4>SI</h4>
                             <% } %>   
                            </td>
                            <td>
                                <a href="/user/edit/<%=usuario.id %>">
                                <button class="btn inf">Editar</button></a>
                                

                                <form method="POST" action="/user/delete/<%=usuario.id %>?_method=delete">
                                    <!-- <p class="btn danger">Eliminar</p> -->
                                    <button type="submit" class="btn danger">Desactivar</button>
                                </form>
                                
                                <!-- <a class="btn danger"href="/user/delete/<%=usuario.id %>">Eliminar</a> -->

                                
                            </td>
                            </tr>
                            <%}) %>
                    </table>
                </div>

            </main>

            <%- include('./partials/footer') %>

    </body>

</html>