<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <!----- Slideshow container ----->
    <%- include('./partials/SliderX') %>

    <div class="titulo-categorias">
      <h3>Ofertas populares</h3>
      <p>ver todos..</p>
    </div>

    <%- include('./partials/popularOffers') %> <%# Card section called ofertas populares %>
    
    <section class="los-mas-populares">

    <div class="titulo-categorias">
      <h3>Los + vendidos</h3>
      <p>ver todos..</p>
    </div>
    
    <%- include('./partials/bestSellers') %> <%# Card section called ofertas populares %>

      <section class="featured-product">
        <h2>Producto Destacado</h2>
        <div class="featured-box">
          <div class="featured-img">
            <img src="/img/god-of-war-prev.jpg" alt="">
          </div>
          <div class="featured-text">
            <h4>GOD OF WAR</h4>
            <p>Habiendo consumado su venganza contra los dioses el Olimpo años atrás, Kratos ahora vive como un hombre en el reino de los dioses y los monstruos nórdicos. En este hostil e inhóspito mundo, debe pelear por sobrevivir... y enseñarle a su hijo a hacer lo mismo.</p>
            <button>+INFO</button>
          </div>
        </div>
      </section>

        <div class="titulo-categorias">
          <h3>Nuevos lanzamientos</h3>
          <p>ver todos..</p>
        </div>
        
        <%- include('./partials/newReleases') %> <%# Card section called ofertas populares %>

          <div class="titulo-categorias">
            <h3>Ofertas especiales</h3>
            <p>ver todos..</p>
          </div>
          
          <%- include('./partials/offers') %> <%# Card section called ofertas populares %>

      </section>


  </main>

  <%- include('./partials/footer') %>

</body>

</html>