<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fas fa-user-circle"></i>
      <h2 class="texto-de-registro">Inicia sesión y empieza a jugar!</h2>

        <div class="register-form">
          <form action="/user/login" id="login-form" method="POST">
            <label for="email">Ingresa tu email</label>
            <input type="text" id="email" name="email" class="form-input <%= locals.errors && errors.email ? "is-invalid" : null %>" value = "<%=locals.oldData && oldData.email ? oldData.email : '' %>">
            <% if (locals.errors && errors.email) { %>
              <div class="errors"> 
                <%= errors.email.msg %> 
              </div>
            <% } %>
            <!--Validación FRONT-->
            <p id="email-errors" class="errors"></p>
            <!--Validación FRONT-->

            <label for="password">Ingresa tu contraseña</label>
            <input type="password" id="password" name="password" class="form-input <%= locals.errors && errors.password ? "is-invalid" : null %>" >
            <% if (locals.errors && errors.password) { %>
              <div class="errors"> 
                <%= errors.password.msg %> 
              </div>
            <% } %>
            <!--Validación FRONT-->
            <p id="password-errors" class="errors"></p>
            <!--Validación FRONT-->
            
            <label for="remember-me"><input type="checkbox" name='rememberUser' id="rememberUser" value="yRememberUser"> Recuérdame la próxima vez</label>
            <input type="submit" id="submit" value="Ingresar!">
          </form>
        </div>
        <div class="register-form-footer">
          <p><a href="#">Olvidé mi contraseña</a></p><br>
          <p>¿Todavía no te has registrado? <a href="/user/register">Regístrate aquí!</a></p>
        </div>
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  <script src="/js/login.js"></script>
  </body>
</html>