<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <section class="main-info">
        <h1></h1>
        <article class="DP-imagen">
          <img src="<%= product.image %>" alt="imagen del producto" />
        </article>
        <article class="mas-imagenes">
          <% if (image.length >= 4 ) { %> <% for( let i = 0; i < 4; i++ ) { %>
          <a href="<%=image[i].address %>">
            <img src="<%= image[i].address %>" alt=" Imagen-del-producto" />
          </a>

          <% } %> <% } else { %> <% image.forEach(element => { %>
          <a href="<%=image.address%>">
            <img src="<%= element.address %>" alt=" Imagen-del-producto" />
            <% }) %> <% } %>
          </a>
        </article>

        <article class="precio-compra-agregar">
          <h2><%= product.name %></h2>
          <h3 class="rating">
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i>
          </h3>
          
          <h2>Precio: $ 
            <% if (product.discount == null) { %>
              <%= product.price%></h2>
              
              <% } else { %>
                
                <%=    (product.price - ((product.price * product.discount) /
                100)) %>
              <p class="precio-rebaja">$<%= product.price %></p>
              <h4>Descuento : <%= product.discount %> %</h4>
              <% }  %> 
            

          <button id="carrito" class="btn succ" type="submit">
            <h3><i class="fas fa-cart-plus"></i> Agregar al carrito</h3>
          </button>
        </article>
      </section>

      <section class="info">
        <article class="detailed-info">
          <h3>Descripción:</h3>
          <p><%= product.description %></p>
        </article>
        <article class="detailed-info">
          <h3>Specs:</h3>
          <p><%= product.specs%></p>
        </article>
        <article class="detailed-info">
          <h3>Reseñas:</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            adipisci consectetur beatae ratione ipsam dolorem laboriosam est
            deserunt dolore praesentium odio soluta totam maiores voluptate
            nulla, delectus quod itaque laudantium natus qui quas voluptates,
            voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis
            dicta accusamus alias sint natus itaque eaque maiores. Consequuntur
            dignissimos adipisci ipsam pariatur vel iste, libero tempora?
            Tempora incidunt hic reprehenderit, itaque quis consequatur numquam
            est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam
            officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi
            culpa soluta qui blanditiis suscipit architecto tempore eius
            repellendus aliquam iste ab. Accusantium, sint maiores.
          </p>
        </article>
        <%- include("./partials/related")  %> 
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
  <script src="/js/productDetail.js"></script>
</html>
