<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div class="general-container">
        <div class="register">
          <i class="fa-solid fa-pen-circle"></i>
          <h2 class="texto-de-registro">Estas editando:</h2>
          <h4 class="registro-manual"><%= product.name %></h4>
          <div class="register-form">
            <form
              method="POST"
              action="/product/edit/<%= product.id %>?_method=PUT"
              enctype="multipart/form-data"
            >
              <h3>Id: <%= product.id %><br /></h3>
              <label for="name">Nombre:</label><br />
              <input
                type="text"
                id="username"
                name="name"
                value="<%= product.name %>"
                class="form-input"
              /><br />
              <label for="price">Precio:</label><br />
              <input
                type="number"
                id="price"
                name="price"
                value="<%= product.price %>"
                class="form-input"
              /><br />
              <div style="margin: 10%">
                <label for="image">Imagen Principal:</label><br />
                <img
                  src="<%= image.address %>"
                  width="300"
                  height="250"
                  id="myImg"
                  alt="imagen-principal"
                />
                <!-- The Modal -->
                <div id="imageModal" class="modal">
                  <!-- The Close Button -->
                  <span class="close">&times;</span>

                  <!-- Modal Content (The Image) -->
                  <img class="modal-content" id="img01" />

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fa-solid fa-pen-circle"></i>
      <h2 class="texto-de-registro">Estas editando:</h2>
      <h4 class="registro-manual"><%= product.name %></h4>
        <div class="register-form">
          <form id="product-edit-form" method="POST" action="/product/edit/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
            <div>
              <h3>
                Id: <%= product.id %>
              </h3>
            </div>

              <label for="name">Nombre:</label>
              <input type="text" id="username" name="name" value="<%= product.name %>" class="form-input" > 
              <p id="username-errors" class="errors"></p>

            
              <label for="price">Precio:</label>
              <input type="number" id="price" name="price" value="<%= product.price %>" class="form-input">
              <p id="price-errors" class="errors"></p>
            <div style="margin: 10%;">
              <label for="image">Imagen Principal:</label>
              <img src="<%= image.address %>" width="300" height="250" alt="imagen-del-producto"> 
              <div>
                <label for="image">Reemplazar imagen principal</label>
                <input type="file" name="image" id="image">
                <p id="image-errors" class="errors"></p>
              </div>
            </div>
            <label for="image">Galeria de Imágenes:</label>
            
            <label for="specs">Requisitos:</label>
            <textarea name="specs" id="specs" cols="30" rows="10" class="form-input"><%= product.specs %></textarea>
            <p id="specs-errors" class="errors"></p>

            <label for="description">Descripción:</label>
            <textarea name="description" id="description" cols="30" rows="10" class="form-input"><%= product.description %></textarea>
            <p id='description-errors' class="errors"></p>

            <label for="discountProduct">Descuento: %</label>
            <input type="number" name="discount" id="discount" value="<%= product.discount %>" class="form-input">
            <p id="discount-errors" class="errors"></p>
            
            <input type="submit" id="submit" value="Guardar Cambios">
            <div class="back-button">
              <p><a href="/admin">Volver al listado</a></p>
            </div>
          </form>
        </div>
        <div class="crudList"></div>
      </div>
    </main>

    <%- include('./partials/footer') %>
    <script src="/js/productEdit.js"></script>
    <script src="/js/image-modal.js"></script>
  </body>
  <script src="/js/productEdit.js"></script>
</html>
