<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <section class="main-info">
      <h1></h1>
      <h3 class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
      <article class="DP-imagen">
        <img src="<%= products.imageProduct %>" alt="imagen del producto">
      </article>
      <article class="mas-imagenes">
        <img src="<%= products.imageProduct %>" alt=" Imagen-del-producto">
        <img src="<%= products.imageProduct %>" alt=" Imagen-del-producto">
        <img src="<%= products.imageProduct %>" alt=" Imagen-del-producto">
        <img src="<%= products.imageProduct %>" alt=" Imagen-del-producto">
      </article>
      <article class="related">
        <h2>Titulos Relacionados...</h2>
        <img src="img/god-of-war-med.jpg" alt=" Imagenes de Total War Warhammer">
        <img src="img/dying-card.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/jedi-card.jpeg" alt=" Imagenes de Total War Warhammer">
      </article>
      <article class="precio-compra-agregar">
        <h2>Precio: $ <%= products.priceProduct%></h2>
        <i class="fa-solid fa-shop"></i>
        <button id="comprar" type="submit"><h3>comprar</h3></button>
        <i class="fas fa-cart-plus"></i>
        <button id="carrito" type="submit">Agregar al carrito</button>
      </article>
    </section>

    <section class="info">
      <article class="detailed-info">
        <h3>Descripción:</h3>
        <p><%= products.descriptionProduct %> 
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Specs:</h3>
        <p><%= products.specsProduct%>
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Reseñas:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
    </section>
  </main>

  <%- include('./partials/footer') %>
  
</body>
</html>



