<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div class="general-container">
        <div class="register">
          <i class="fa-solid fa-pen-circle"></i>
          <h2 class="texto-de-registro">Estas editando:</h2>
          <h4 class="registro-manual"><%= product.name %></h4>
          <div class="register-form">
            <form
              method="POST"
              action="/product/edit/<%= product.id %>?_method=PUT"
              enctype="multipart/form-data"
            >
              <h3>Id: <%= product.id %><br /></h3>
              <label for="name">Nombre:</label><br />
              <input
                type="text"
                id="username"
                name="name"
                value="<%= product.name %>"
                class="form-input"
              /><br />
              <label for="price">Precio:</label><br />
              <input
                type="number"
                id="price"
                name="price"
                value="<%= product.price %>"
                class="form-input"
              /><br />
              <div style="margin: 10%">
                <label for="image">Imagen Principal:</label><br />
                <img
                  src="<%= image.address %>"
                  width="300"
                  id="myImg"
                  alt="imagen-principal"
                />
                <!-- The Modal -->
                <div id="imageModal" class="modal">
                  <!-- The Close Button -->
                  <span class="close">&times;</span>

                  <!-- Modal Content (The Image) -->
                  <img class="modal-content" id="img01" />

                  <!-- Modal Caption (Image Text) -->
                  <div id="caption"></div>
                </div>
                <br />
              </div>
              <label for="image">Galeria de Imágenes:</label><br />
              <% images.forEach(element => { %>
                <a href="/product/image/<%= element.id %>">
                  <img
                  src="<%= element.address%>"
                  class="product-images"
                  alt="imagen-producto"
                  />
                  
                </a>
                <% }) %>
                <label for="image">Subir nuevas Imagenes</label>
                <input type="file" name="image" id="image" multiple /><br />
              <label for="specs">Requisitos:</label><br />
              <textarea
                name="specs"
                id="specs"
                cols="30"
                rows="10"
                class="form-input"
              >
<%= product.specs %></textarea
              ><br />
              <label for="description">Descripción:</label><br />
              <textarea
                name="description"
                id="description"
                cols="30"
                rows="10"
                class="form-input"
              >
<%= product.description %></textarea
              ><br />
              <label for="discountProduct">Descuento: %</label>
              <input
                type="number"
                name="discount"
                id="discount"
                value="<%= product.discount %>"
                class="form-input"
              /><br />
              <input type="submit" id="submit" value="Guardar Cambios" />
              <div class="back-button">
                <p><a href="/admin">Volver al listado</a></p>
              </div>
            </form>
          </div>
        </div>
        <div class="crudList"></div>
      </div>
    </main>

    <%- include('./partials/footer') %>
    <script src="/js/productEdit.js"></script>
    <script src="/js/image-modal.js"></script>
  </body>
</html>
