<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <section class="main-info">
        <article class="DP-imagen">
          <img id="image-product" src="<%= product.image %>" alt="imagen del producto" />
        </article>
        <article class="mas-imagenes">
          <% if (image.length >= 4 ) { %> <% for( let i = 0; i < 4; i++ ) { %>
          <a href="<%=image[i].address %>">
            <img src="<%= image[i].address %>" alt=" Imagen-del-producto" />
          </a>

          <% } %> <% } else { %> <% image.forEach(element => { %>
          <a href="<%=image.address%>">
            <img src="<%= element.address %>" alt=" Imagen-del-producto" />
            <% }) %> <% } %>
          </a>
        </article>

        <article class="precio-compra-agregar">
          <h2 id="product-name" id-product="<%= product.id %>"><%= product.name %></h2>
          <h3 class="rating">
            <% if (product.rating == 1) { %>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
             
            <% } %>
            <% if (product.rating == 2) { %>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
             
            <% } %>
            <% if (product.rating == 3) { %>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
             
            <% } %>
            <% if (product.rating == 4) { %>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             
            <% } %>
            <% if (product.rating == 5) { %>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
             
            <% } %>
          </h3>
          
  
          <h2 >Precio: $</h2><h2 id="price-product"><% if (product.discount == null) { %><%= product.price%></h2><% } else { %><%=(product.price - ((product.price * product.discount) /
                100)) %></h2>
              <p class="precio-rebaja">$<%= product.price %></p>
              <h4>Descuento : <%= product.discount %> %</h4>
              <% }  %> 
            
          <div class="add-cart-btn-container">
            <button id="carrito" class="btn succ" type="submit">
              <h3 id="texto-carrito"><i class="fas fa-cart-plus"></i> Agregar al carrito</h3>
            </div>
          </button>
        </article>
      </section>

      <section class="info-detail">
        <article class="detail-info">
          <div class="detail">

            <h3 class="sub-tittle">Descripción:</h3>
            <p id="description-producto"><%= product.description %></p>
          </div>
          <div class="detail">
  
            <h3 class="sub-tittle">Requisitos:</h3>
            <p class="specs"><%= product.specs%></p>
          </div>


        </article>
    
      
      </section>

      <div>
        <%- include("./partials/related")  %> 

      </div>

    </main>

    <%- include('./partials/footer') %>
  </body>
  <script src="/js/productDetail.js"></script>
</html>