<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="general-container">
    
    <img src="<%= image.address  %>"  alt="" height="350px"><br>
    
</div>
<div style="text-align:center;">
    <a href="/product/edit/<%= image.product_id  %> ">
        
        <button class="btn succ"><i class="fa-solid fa-arrow-left"></i> Atras</button>
    </a>
    <form method="POST" action="/product/image/<%= image.id  %>?_method=delete">
        <button class="btn danger" type="submit"><i class="fa-solid fa-trash-can"></i> Borrar Imagen</button>
    </form>
</div>
    <%- include('./partials/footer') %>
    <script src="/js/productEdit.js"></script>
    <script src="/js/image-modal.js"></script>
  </body>
</html>
