<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fa-solid fa-pen-circle"></i>
      <h2 class="texto-de-registro">Estas editando:</h2>
      <h4 class="registro-manual"><%= product.name %></h4>
        <div class="register-form">
          <form method="POST" action="/products/edit/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
            <label for="idProduct">Id</label>
            <input type="number" value="<%= product.id %>" disabled><br>
            <label for="name">Nombre:</label><br>
            <input type="text" id="username" name="name" value="<%= product.name %>"><br>
            <label for="price">Precio:</label><br>
            <input type="number" id="price" name="price" value="<%= product.price %>"><br>
            <div style="margin: 10%;">
              <label for="image">Imagen Principal:</label><br>
              <img src="<%= image.url %>" width="300" height="250" alt="imagen-del-producto"> <br>
              <label for="image">Reemplazar imagen principal</label>
              <input type="file" name="image" id="image"><br>
              
            </div>
            <label for="image">Galeria de Imágenes:</label><br>
            
            <label for="specs">Requisitos:</label><br>
            <textarea name="specs" id="specs" cols="30" rows="10"><%= product.specs %></textarea><br>
            <label for="description">Descripción:</label><br>
            <textarea name="description" id="description" cols="30" rows="10"><%= product.description %></textarea><br>
            <label for="discountProduct">Descuento: %</label>
            <input type="number" name="discount" id="discount" value="<%= product.discount %>"><br>
            <input type="submit" id="submit" value="Guardar Cambios">
            <div class="back-button">
              
              <p><a href="/admin">Volver al listado</a></p>
            </div>
          </form>
        </div>
    </div>
    <div class="crudList">
    
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  
  </body>
</html>