<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fa-solid fa-pen-circle"></i>
      <h2 class="texto-de-registro">Estas editando el producto:</h2>

      <h4 class="registro-manual"><%= products.name %></h4>
        <div class="register-form">
          <form action="/products/edit/:id?_method=PUT" enctype="multipart/form-data" method="POST">
            <label for="nameProduct">Nombre del producto:</label><br>
            <input type="text" id="username" name="nameProduct" value="<%= products.name %>"><br>
            <label for="priceProduct">Precio:</label><br>
            <input type="number" id="password" name="priceProduct" value="<%= products.price %>"><br>
            <label for="imageProduct">Imagenes del producto:</label>
            <input type="file" name="imageProduct" id="imageProduct"><br>
            <label for="specsProduct">Requisitos:</label>
            <textarea name="specsProduct" id="specsProduct" cols="30" rows="10"><%= products.specs %></textarea><br>
            <label for="descriptionProduct">Descripción:</label>
            <textarea name="descriptionProduct" id="descriptionProduct" cols="30" rows="10"><%= products.description %></textarea><br>
            <label for="discountProduct">Descuento:</label>
            <input type="number" name="discountProduct" id="discountProduct" value="<%= products.discount %>"><br>
            <input type="submit" id="submit" value="Agregar">
          </form>
        </div>
    </div>
    <div class="crudList">
    
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  
  </body>
</html>