<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="productadd">
      
      <h2 class="texto-de-registro">Agregar nuevo Producto</h2>
     
      
        <div class="productadd-form">
         
          <form action="/products/create" enctype="multipart/form-data" method="POST">
            <label for="name">Nombre del producto:</label><br>
            <input type="text" id="username" name="name" required><br>
            <label for="price">Precio:</label><br>
            <input type="number" id="password" name="price" required><br>
            <label for="image">Imagenes del producto:</label>
            <input type="file" name="image" id="image"><br>
            <label for="specs">Requisitos:</label><br>
            <textarea name="specs" id="specs" cols="30" rows="10"></textarea><br>
            <label for="description">Descripción:</label><br>
            <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
            <label for="category">Categoria:</label><br>
            <select name="category" id="category"><br>
              <% category.forEach(element => { %>
                <option value="<%= element.name%>"><%= element.name%></option> 
              <% }) %> 
              
            </select><br>
            <label for="discount">Descuento %:</label><br>
            <input type="number" name="discount" id="discount"><br>
            <input type="submit" id="submit" value="Agregar">
          </form>
          <div class="back-button">
            <a href="/admin">
              
              <p>Volver al listado</p>
            </a>
          </div>
        </div>
    </div>
    <div class="crudList">
    
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  
  </body>
</html>


<!-- 
AÑADIRLE FOTOS
NOMBRE
DESCRIPCION
CATEGORIA
PRECIO
SPECS
 -->