<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fas fa-user-circle"></i>
      <h2 class="texto-de-registro">Edita tu perfil</h2>
        <div class="signup-buttons-container">
          <i class="fab fa-google fa-fw"></i>
          <i class="fab fa-facebook fa-fw"></i>
          <i class="fab fa-apple fa-fw"></i>
        </div>
      <h4 class="registro-manual"></h4>
        <div class="register-form">
          <form action="/user/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <label for="username">Ingresa tu nombre de usuario</label>
            <input type="text" id="username" name="username" value="<%= usuario.name %>" autocomplete='none'>
            <label for="email">Ingresa tu email</label>
            <input type="email" id="email" name="email" value="<%= usuario.email %>">
            <label for="avatar">Avatar</label>
            <img src="<%= usuario.avatar%>" class="avatar-listado"alt="">
            <input type="file" name="avatar" id="upload-image">
            <label for="password">Ingresa una contraseña</label>
            <input type="password" id="password" name="password">
           <!-- <label for="confirm-password">Confirma tu contraseña</label>
            <input type="password" id="confirm-password" name="confirm-password" required> -->
            <input type="submit" id="submit" value="Guardar cambios">
            <div class="back-button">
              
              <p><a href="/admin/users">Volver al listado</a></p>
            </div>
          </form>
        </div>
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  
  </body>
  <script src="/js/userEdit.js"></script>
</html>