<div class="products-category contenedor">
  <div class="contenedor-titulo-controles">
    <h3>Últimos Lanzamientos</h3>
    <div class="indicadores3"></div>
  </div>

  <div class="contenedor-principal">
    <button role="button" id="flecha-izquierda-3" class="flecha-izquierda-3">
      <i class="fas fa-angle-left"></i>
    </button>

    <div class="contenedor-carousel">
      <div class="carousel3">
        <% products.sort(function() { return Math.random()- 0.5 }).forEach(
        products => { %>

        <div class="newReleasesList">
          <a
            href="/product/detail/<%= products.id %> "
            class="productDetailLink"
          >
            <img src="<%= products.image%>" alt="imagen-del-producto" />
            <p class="titulo-producto"><%= products.name %></p>

            <div class="caja-precio">
              <p class="precio-producto">
                $<%= (products.price - ((products.price * products.discount) /
                100)) %>
              </p>
              <sup class="moneda">US$</sup>
            </div>
            <div class="box-card">
              <div class="caja-rebaja">
                <% if (products.discount !== null) { %>

                <p class="precio-rebaja">$<%= products.price %></p>
                <sup class="moneda">US$</sup>
                <span class="porcentaje-descuento"
                  >-<%= products.discount %> %</span
                >
                <% } %>
              </div>
            </div>
          </a>
        </div>
        <%})%>
      </div>
    </div>

    <button role="button" id="flecha-derecha-3" class="flecha-derecha-3">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>
</div>
<script src="/js/smallSlider3.js"></script>
